html {
  font-size: 20px; /* px bedeutet 'pixels': die Schriftgröße wird auf 10 Pixel gesetzt  */
  font-family: 'Roboto Slab', serif; /* hier kommt der Name der ausgewählten Schriftfamilie hin */
}
h1 {
  font-size: 60px;
  text-align: center;
}

p, li {
  font-size: 18px;    
  line-height: 2;
  letter-spacing: 1px;
}
html {
  background-color: #dfecdf;
}
body {
  width: 1700px;
  margin: 0 auto;
  background-color: #9fc69f;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}
  h1 {
  margin: 0;
  padding: 20px 0;    
  color: #dfecdf;
  text-shadow: 3px 3px 1px black;
}
img {
  display: block;
  margin: 0 auto;
}